
<div class="camera-container">
  <div class="feed">
    <video #video autoplay muted playsinline></video>
  </div>
  <div class="controls">
    <div class="control-container">
      <i class="fa-solid fa-images"></i>
    </div>
    <div class="control-container camera-circle">
      <i class="fa-regular fa-circle capture" (click)="capture()" id="capture"></i>
    </div>
    <div class="control-container">
      <i class="fa-solid fa-camera-rotate" (click)="toggleCamera()"></i>
    </div>
    <!-- <div class="capture-container">
      <button (click)="capture()" class="capture" id="capture"></button>
    </div> -->
  </div>
<canvas #canvas></canvas>
</div>
